html, body, .game {
  height: 100%;
}

body {
	background: #6b88fe;
	color: #fff;
	font-size: 16px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.game {
  overflow: hidden;
  position: relative;
}

.frame {
  clear: both;
  content: "";
  display: table;
  padding-left: 450px;
}

.left-frame, .right-frame {
  float: left;
}

.left-frame {
  margin-left: -450px;
  padding-left: 20px;
  padding-top: 20px;
  width: 420px;
}

.right-frame {
  height: 320px;
  left: 50%;
  margin-top: -160px;
  position: absolute;
  top: 50%;
  width: 320px;
}

.title {
	background: url('../img/title.png') no-repeat center center;
  background-size: cover;
	height: 88px;
	width: 210px;
}

.world {
  width: 240px;
}

.block {
	background: url('../img/block.png') no-repeat center center;
  background-size: 100%;
	color: #fff;
  cursor: pointer;
  float: left;
  height: 30px;
	font-size: 18px;
	font-weight: bold;
  line-height: 30px;
	text-align: center;
	text-shadow: 1px 1px 0 #000;
  width: 30px;
}

.block:active {
  position: relative;
  top: 1px;
}

.block.is-revealed {
	background-image: url('../img/block-revealed.png');
  cursor: default;
}

.block.is-bowser {
	background-image: url('../img/block-bowser.png');
}

.block.is-one-up {
	background-image: url('../img/block-one-up.png');
}

.block.is-power-up {
	background-image: url('../img/block-powerup.png');
}

.block.is-flower {
	background-image: url('../img/block-flower.png');
}

.ground {
	background: url('../img/ground.png') repeat-x left top;
	background-size: 10%;
	bottom: -10px;
	height: 50px;
	position: absolute;
	width: 100%;
}

.prop {
  -webkit-transition: left 1s linear, right 1s linear, background-position 1s linear;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 100%;
  bottom: 50px;
	position: absolute;
}

.castle {
  background-image: url('../img/castle.png');
  height: 150px;
  left: -10%;
  opacity: 0;
  width: 150px;
}

.game-won .flagpole,
.game-won .castle {
  opacity: 1;
  left: 20%;
}

.game-won .bush {
  left: 40%;
}

.flag {
  -webkit-transition: bottom 1s linear;
  background-image: url('../img/flag.png');
  bottom: 25px;
  height: 16px;
  left: -4px;
  width: 16px;
}

.flag.raising {
  bottom: 85%;
}

.flagpole {
  background-image: url('../img/flagpole.png');
  height: 252px;
  left: -10%;
  opacity: 0;
  width: 24px;
}

.game-won .flagpole {
  left: 15%;
}

.bush {
	background-image: url('../img/bush.png');
	height: 38px;
	left: 20%;
	width: 150px;
}

.coin {
	background: url('../img/coin.gif') no-repeat center center;
	background-size: 100%;
	display: block;
	height: 80px;
	opacity: 0;
	width: 80px;
}

.scoreboard {
	font-size: 28px;
	font-weight: bold;
  padding-top: 20px;
	position: relative;
	text-align: center;
  width: 100%;
}

.scoreboard .coin {
	left: 50%;
	margin-left: -40px;
	position: absolute;
	top: -40px;
}

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2013 Daniel Eden
*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg);
  }

  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg);
  }

  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    -ms-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    -ms-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg);
  }

  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    -ms-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg);
  }

  100% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    -ms-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}